<div class="panel panel-primary">
  <div class="panel-heading">{{ title }}</div>
  <div class="panel-body">
    <p>
      There are {{ wineCount }} wines graded so far.
    </p>

    <p>Results:</p>
    <p>{{ data }}</p>

    <ul>
      <li *ngFor="let wine of wines_data">
        <h3>{{ wine.name | uppercase }}</h3>
        <p>{{ wine.year }}</p>
        <p>{{ wine.price | currency:"ILS":true }}</p>
        <p *ngIf="wine.rating >= 4">Recommended!</p>
      </li>
    </ul>

    <!-- <ul>
      <li *ngFor="let wine of wines">
        <h3>{{ wine.name | uppercase }}</h3>
        <p>{{ wine.year }}</p>
        <p>{{ wine.price | currency:"ILS":true }}</p>
        <p *ngIf="wine.rating >= 4">Recommended!</p>
      </li>
    </ul> -->

    <!-- <h3>Wine JSON data</h3>
    <ul>
      <li *ngFor="let wine of wines">
        <p>{{ wine | json }}</p>
      </li>
    </ul> -->
  </div>
</div>
