<div class="panel panel-primary">
  <div class="panel-heading">{{ title }}</div>
  <div class="panel-body">

    <h4 class="page-header">Add Wine</h4>
    <form role="form">
      <div class="form-group float-label-control">
        <label for="">Name</label>
        <input type="text" class="form-control" placeholder="Name">
      </div>
      <div class="form-group float-label-control">
        <label for="">Price</label>
        <input type="text" class="form-control" placeholder="Price">
      </div>
      <div class="form-group float-label-control">
        <label for="">Year</label>
        <input type="text" class="form-control" placeholder="Year">
      </div>
      <div class="form-group float-label-control">
        <label for="sel1">Year</label>
        <select class="form-control" id="sel1">
          <option>2014</option>
          <option>2015</option>
          <option>2016</option>
          <option>2017</option>
        </select>
      </div>
      <div class="form-group float-label-control">
        <label for="">Rating</label>
        <input type="text" class="form-control" placeholder="Rating">
      </div>
      <div class="form-group float-label-control">
        <label for="">Company</label>
        <input type="text" class="form-control" placeholder="Company">
      </div>
      <div class="form-group float-label-control">
        <label for="">Description</label>
        <textarea class="form-control" placeholder="Description" rows="1"></textarea>
      </div>
    </form>
    <p>{{values}}</p>
    <button (click)="onClickMe()">Click me!</button>
  </div>
</div>

<!-- 

[data.name, data.recommended, data.price, data.year, data.rating, data.company, data.description, id]);
      <div class="form-group float-label-control">
        <label for="">Rating</label>
        <input type="text" class="form-control" placeholder="Rating"></input>
      </div>
      <div class="form-group float-label-control">
        <label for="">Company</label>
        <input type="text" class="form-control" placeholder="Company"></input>
      </div>
      <div class="form-group float-label-control">
        <label for="">Description</label>
        <textarea class="form-control" placeholder="Description" rows="1"></textarea>
      </div> -->
